<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a class="logo nav-link" href="/">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-link nav-item" href="/ejemplo2">Mis Autos</a></li>
                    <li class="nav-menu-item"><a class="nav-link nav-item" href="/multimedia">Multimedias</a></li>
                    <li class="nav-menu-item"><a class="nav-link nav-item" href="/iframes">iFrames</a></li>
                </ul>
            </nav>
        </header>
        
        <h1 style="text-align: center;background-color: blue;color: white"> Mis Autos </h1>
        <a href="/">TechShop</a>|<a href="/ejemplo2">Mis Autos</a>
        <h2>Lunes</h2>
        <img src="/Img/78bd8689f8e1709c0dafca9b4f170893.jpg" alt=""/>
        <h2>Sabado</h2>
        <img src="/Img/AMG CLASE G_Seguridad3.jpg" alt=""/>
    </body>
</html>
