<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a class="logo nav-link" href="/">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-link nav-item" href="/ejemplo2">Mis Autos</a></li>
                    <li class="nav-menu-item"><a class="nav-link nav-item" href="/multimedia">Multimedias</a></li>
                    <li class="nav-menu-item"><a class="nav-link nav-item" href="/iframes">iFrames</a></li>
                </ul>
            </nav>
        </header>

        <aside>
            <h1> IFrames </h1> 
            <p>Uso de iFrames en un sitio web</p>
        </aside>

        <section>
            <h2>Uso de iFrames</h2>
            <article>
                <h3>Sitio Empotrado</h3>
                <iframe src="http://ufidelitas.ac.cr"
                        width="1100" height="400">

                </iframe>
            </article>
            <article>
                <h3>Youtube</h3>
                <iframe width="943" height="539" src="https://www.youtube.com/embed/tuA_3gcL_OU" title="8. CUÉNTALE - Quevedo | DONDE QUIERO ESTAR" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </article>
            <article>
                <h3>Ubicanos</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d982.2946840932063!2d-84.15191650416195!3d10.002090294930529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fa5c7d85b805%3A0x385084d51a9075c0!2s2R2X%2BQFR%2C%20Heredia%2C%20Flores!5e0!3m2!1ses-419!2scr!4v1748013765016!5m2!1ses-419!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </article>
        </section>

        <footer>TechShop 2025 &COPY; Todos los Derechos Reservados</footer>
    </body>
</html>
