<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a class="logo nav-link" href="/">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-link nav-item" href="/ejemplo2">Mis Autos</a></li>
                    <li class="nav-menu-item"><a class="nav-link nav-item" href="/multimedia">Multimedias</a></li>
                    <li class="nav-menu-item"><a class="nav-link nav-item" href="/iframes">iFrames</a></li>
                </ul>
            </nav>
        </header>

        <aside>
            <h1> TechShop </h1> 
            <p>Cada semana la tienda hace rifas entre sus clientes</p>
        </aside>

        <section>
            <h2>Su tienda en línea</h2>
            <p>El mejor lugar para comprar productos de tecnología del planeta...</p>
        </section>

        <footer>TechShop 2025 &COPY; Todos los Derechos Reservados</footer>
    </body>
</html>
